{% extends "base.html" %}


{% block title %} admin page {% endblock %}


{% block body %}
<body class="body-footballplayer">
<form class="main_form" action="" method="POST">
    {% if key %} <input type="hidden" name="key" value="{{key}}"> {% endif %}

    {% if not mode %}
                
        <table>
            <tr>
                <td><button class="button_auto_width" name="control_button" value="reset_all">Reset all progress to 0</button></td>
            </tr>
            <tr>
                <td><button class="button_auto_width" name="control_button" value="reset_all_geo">Reset all geopositions</button></td>
            </tr>
            <tr>
                <td><button class="button_auto_width" name="control_button" value="edit_definite_team">edit definite team</button></td>
            </tr>
            <tr> 
                <td><button class="button_auto_width" name="control_button" value="edit_tasks">edit tasks</button></td>
            </tr>
            <tr>
                <td><button class="button_auto_width" name="control_button" value="geomap">get map</button></td>
            </tr>
        </table>
                


    {% else %}
        <input type="hidden" name="mode" value="{{mode}}">

        {% if mode == 'edit_tasks' %}


            {% if teams %} 



                <table>
                    {% for team in teams %}
                        <tr>
                            <td><button class="button_auto_width" name="team_key" value="{{team.key}}">{{team.name}}</button></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td><button class="button_auto_width" name="control_button" value="cancel">Вернуться</button></td>
                    </tr>
                </table>
        

            {% elif team %}

                <input type="hidden" name="team_key" value="{{team.key}}">
                <p>Editting tasks of the team: {{team.name}}</p>
                <table>

                    <tr>

                        <td class="invisible" valign="center">

                                <textarea class="config_text_area" name="tasks_text" rows="20">{% if tasks_text %}{{ tasks_text }}{% else %}--- tasks are empty ---{% endif %}</textarea>

                            <br>
                            
                                <table>
                                    <tr>
                                        <td><button class="button_auto_width" name="control_button" value="save">Сохранить</button></td>
                                        <td><button class="button_auto_width" name="control_button" value="reopen">Перезагрузить</button></td>
                                        <td><button class="button_auto_width" name="control_button" value="cancel">Вернуться</button></td>
                                    </tr>
                                </table>
                            
                        </td>

                    </tr>


                </table>

            {% endif %}

        {% elif mode == 'edit_definite_team' %}

            {% if teams %} 



                <table>
                    {% for team in teams %}
                        <tr>
                            <td><button class="button_auto_width" name="team_key" value="{{team.key}}">{{team.name}}</button></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td><button class="button_auto_width" name="control_button" value="cancel">Вернуться</button></td>
                    </tr>
                </table>
            
    
            {% elif team %}

            <input type="hidden" name="team_key" value="{{team.key}}">
            <p>Editting team: {{team.name}}</p>
            <table>

                    <tr>

                        <td class="invisible" valign="center">

                                <textarea class="config_text_area" name="team_text" rows="20">{% if team_text %}{{ team_text }}{% else %}--- team_text is empty ---{% endif %}</textarea>

                            <br>
                            
                                <table>
                                    <tr>
                                        <td><button class="button_auto_width" name="control_button" value="save">Save</button></td>
                                    </tr>
                                    <tr>
                                        <td><button class="button_auto_width" name="control_button" value="reload">Reload</button></td>
                                    </tr>
                                    <tr>
                                        <td><button class="button_auto_width" name="control_button" value="cancel">Return to choosing a team</button></td>
                                    </tr>
                                </table>
                            
                        </td>

                    </tr>


                </table>

            {% endif %}



        {% else %}

        another mode

        {% endif %}

    {% endif %}





</form>
</body>

{% endblock %}