{% extends "base.html" %}


{% block title %} login page {% endblock %}


{% block header %} <div class="greetings">Hello there, sportsmen!</div> {% endblock %}


{% block body %} 
<body class="grass-back">
	<div class="login-form">
		<form name="main_form" action="" method="POST">
			Enter your key, please:<input type="text" name="key" placeholder="Введите ключ">	 
			{% if log_text %}
			<span class="error-text"><p>{{log_text}}</p></span>
			{% endif %}								
			<input type="submit" name="control_button" value="login">
		</form>
	</div>

</body>
{% endblock %}