{% extends "base.html" %}


{% block title %} task page {% endblock %}


{% block body %} 

<head> 
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>

		<script type="text/javascript" charset="utf-8">


			//$(document).ready(function() {
			function init(){

				// init the socket and namespace(optional)
				namespace = '/flask';
				var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
				socket.emit('debug_msg', { data: 'connected to launch page'});


				function successCallback(coords) {
					var team_key = $('input[name="key"]').val();
					socket.emit('team_position', { team_key: team_key, lat: coords.latitude, longt: coords.longitude});
					return false;
				}

				function handleSuccess(position) {
					successCallback(position.coords);
				return false;
				}

				function handleFail(error) {
					document.getElementById('test').innerHTML = 'error';
					return false;
				}


				var geolocation = navigator.geolocation;

				var coordinates = geolocation.watchPosition(handleSuccess, handleFail , {
					enableHighAccuracy: true,
					maximumAge: 5000 // 5 sec.
				});
		

				socket.on('ping', function() {
					socket.emit('debug_msg', { data: 'pong'});
            	});

				return false;
			};
		

	  
		</script> 
	  
	  </head> 


<body class="grass-back" onload="init()">
	<form class="main-form" action="" method="POST">
		{% if key %} <input type="hidden" name="key" value="{{key}}"> {% endif %}
		<table class="task_table">
			<tr>
				<td>
					<!--textarea name="location" class="textarea-location">Локация: {{location}}</textarea-->
					<p name="location" class="textarea-location">Локация: {{location}}</p>									
				</td>
			</tr>
			<tr>
				<td>
					<div name="task_text" class="task_text" disabled>Задание: {{task_text | safe}}</div>
				</td>
			</tr>
			<tr>
				<td>
				    Ответ:<input type="text" name="answer" placeholder="Введите ответ">
				</td>
			</tr>
			<tr>
				<td>
					<input type="submit" name="control_button" value="Отправить ответ">
				</td>
			</tr>
		</table>
	</form>
</body>
{% endblock %}