<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        {% block head %}
        <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>


    <div class="main-div">

        <header>
            {% block header %}{% endblock %}
        </header>
        
        {% block body %}
        {% endblock %}
        


        <footer>
            {% block footer %}{% endblock %}
        </footer>

    </div>

</html>