{% extends "base.html" %}


{% block title %} login page {% endblock %}


{% block header %} <div class="greetings">Hello there, sportsmen!</div> {% endblock %}


{% block body %} 
<body class="body-footballplayer">

	<div class="login-form">
		<form name="main_form">
			Enter your key, please:<input type="text" name="key" value="your password">									
			<input type="submit" name="login" value="login">
		</form>
	</div>

</body>
{% endblock %}


{% block footer %}
<p style="text-indent: 16px">&copy; 2018 IBRAE</p>
{% endblock %}