{% extends "base.html" %}


{% block title %} login page {% endblock %}


{% block body %} 

<head> 

  <script src="https://maps.api.2gis.ru/2.0/loader.js"></script>

  <script type="text/javascript"> 


    function loadJSON(file, callback) {   
        var xobj = new XMLHttpRequest();
        xobj.overrideMimeType("application/json");
        xobj.open('GET', file, true); // Replace 'my_data' with the path to your file
        xobj.onreadystatechange = function () {
              if (xobj.readyState == 4 && xobj.status == "200") {
                // Required use of an anonymous callback as .open will NOT return a value but simply returns undefined in asynchronous mode
                callback(xobj.responseText);
              }
        };
        xobj.send(null);  
    }


    function load_all() {

        loadJSON("./static/data.json", function(response) {

            var actual_JSON = JSON.parse(response);
            // document.getElementById('json_text').innerHTML = JSON.stringify(actual_JSON);

            DG.then(function() {
                var map, myIcon, markers = DG.featureGroup();

                map = DG.map('map', {
                    center: [55.643471, 37.569533],
                    zoom: 10
                });

                myIcon = DG.icon({
                    iconUrl: './static/images/ball.jpeg',
                    iconSize: [20, 20]
                })

                popups = DG.featureGroup()
                for (var i = 0; i < actual_JSON.places.length; i++){
                    var coordinate_pair = actual_JSON.places[i];
                    var place_name = actual_JSON.names[i];

                    DG.marker(coordinate_pair).addTo(markers).bindPopup(place_name);
                    
                    DG.popup()
                        .setLatLng(coordinate_pair)
                        .setContent(place_name)
                        .addTo(popups);                    
                }
                


                map.locate({setView: false, watch: false}).on('locationfound', function(e) {
                        document.getElementById('My position').innerHTML = 'My coords: (' + e.latitude.toFixed(6) + ' ,  ' + e.longitude.toFixed(6) + ')';
                        DG.marker([e.latitude, e.longitude], { icon: myIcon}).addTo(markers).bindPopup('It\'s me');
                        DG.popup()
                        .setLatLng([e.latitude, e.longitude])
                        .setContent('It\'s you')
                        .addTo(popups);

                    });
                

                markers.addTo(map);
                //map.fitBounds(markers.getBounds());
                
                popups.addTo(map);


            });


        });

    }

    function init(){

        load_all();

    }

  </script> 

</head> 

<body onload="init()" class='grass-back'> 

    <form name='main_form'>

        
        <div id="My position">Loading...</div> 

        <!-- div id="json_text"> ... </div-->

        <div id="map" style="width: 100%; height: 400px;"></div>

    </form>

</body> 
{% endblock %}