{% extends "base.html" %}


{% block title %} Bingo {% endblock %}


{% block header %} <div class="greetings">И это правильный ответ!</div> {% endblock %}


{% block body %} 
<body class="body-footballplayer">

	<div class="login-form">
		<form name="main_form" action="" method="POST">				
            {% if key %}<input type="hidden" name="key" value="{{key}}">
            <textarea name="post_text" disabled>{{post_text}}</textarea> <br>
            <input type="submit" name="control_button" value="Продолжить">{% else %}
            Oooops, strange request
            {% endif %}
		</form>
	</div>

</body>
{% endblock %}