{% extends "base.html" %}


{% block title %} task page {% endblock %}


{% block body %} 
<body class="grass-back">
	<form class="main-form" action="" method="POST">
		{% if key %} <input type="hidden" name="key" value="{{key}}"> {% endif %}
		<table class="task_table">
			<tr>
				<td>
					<textarea name="location" disabled>Локация: {{location}}</textarea>									
				</td>
			</tr>
			<tr>
				<td>
					<textarea name="task_text" disabled>Задание: {{task_text}}</textarea>
				</td>
			</tr>
			<tr>
				<td>
				    Ответ:<input type="text" name="answer" placeholder="Введите ответ">
				</td>
			</tr>
			<tr>
				<td>
					<input type="submit" name="control_button" value="Отправить ответ">
				</td>
			</tr>
		</table>
	</form>
</body>
{% endblock %}